W_KEY='edacxzc...' ## SENDER PRIVATE KEY
CHAIN_ID='137' ## CHAIN ID
TOKEN_CONTRACT_ADDRESS='0xc2132D05D31c914a87C6611C10748AEb04B58e8F' ##TOKEN_CONTRACT_ADDRESS
SCAN_API_KEY='EFQ....' ## POLYGON SCAN API KEY
NODE_URL='https://polygon-rpc.com' ## RPC URL