W_KEY='edacxzc...' ## SENDER PRIVATE KEY
CHAIN_ID='137 | 9745' ## CHAIN ID
TOKEN_CONTRACT_ADDRESS='0xc2132D05D31c914a87C6611C10748AEb04B58e8F | 0xB8CE59FC3717ada4C02eaDF9682A9e934F625ebb' ##TOKEN_CONTRACT_ADDRESS
SCAN_API_KEY='EFQ....' ## POLYGON SCAN API KEY
NODE_URL='https://polygon-rpc.com | https://rpc.plasma.to' ## RPC URL